@page "/"
@using Microsoft.AspNetCore.Components

<h2 style="text-align:center; background-color:lightgray; padding:10px;">Home Page</h2>

<div style="display:flex; flex-direction:column; gap:10px; padding:20px;">
    <NavLink class="menu-button" href="/add-customer">Add New Customer</NavLink>
    <NavLink class="menu-button" href="/search-customer">Search for Customer</NavLink>
    <NavLink class="menu-button" href="/add-equipment">Add Equipment</NavLink>
    <NavLink class="menu-button" href="/search-equipment">Search For Equipment</NavLink>
    <NavLink class="menu-button" href="/add-category">Search For Equipment</NavLink>
    <NavLink class="menu-button" href="/manage-rentals">Manage Equipment Rentals</NavLink>
    <NavLink class="menu-button" href="/view-reports">View Reports</NavLink>
</div>

@code {
}
